<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="m-a-0"><?= $title ?></h4>
</div>

<div class="modal-body" style="<?= $partialFooter ? '' : 'padding-bottom: 20px;' ?>">
    <?= $this->makePartial($partialBody, $vars) ?>
</div>

<?php if ($partialFooter): ?>
    <div class="modal-footer" style="padding: 15px 20px 15px 20px;">
        <?= $this->makePartial($partialFooter, $vars) ?>
    </div>
<?php endif ?>  