<p class="form-control-static <?= "align-{$this->align}" ?>">
  <?php if ($value == ''): ?>
    <span class="text-empty"><?= $this->emptyText ?></span>
  <?php else: ?>
    <span class="text-value" style="font-weight: <?= $this->weight ?>"><?= $this->multiline ? nl2br($value) : $value ?></span>
  <?php endif ?>
</p>