<div class="loading-indicator-container">
    <?php if ($formModel->exists): ?>

        <button
            type="button"
            class="oc-icon-trash-o btn-icon danger pull-left"
            data-request="onDelete"
            data-request-data="manage_id: <?= $formModel->getKey() ?>"
            data-load-indicator="Deleting..."
            data-request-confirm="Delete this?">
        </button>
        <button
            type="submit"
            data-request="onUpdate"
            data-request-data="manage_id: <?= $formModel->getKey() ?>"
            data-request-form="#<?= $this->formGetId('popup-form') ?>"
            data-hotkey="ctrl+s, cmd+s"
            data-request-data="close:1"
            data-load-indicator="Saving..."
            class="btn btn-primary">
            <u>S</u>impan
        </button>

    <?php else: ?>

        <button
            type="submit"
            data-request="onCreate"
            data-request-form="#<?= $this->formGetId('popup-form') ?>"
            data-hotkey="ctrl+s, cmd+s"
            data-request-data="close:1"
            data-load-indicator="Saving..."
            class="btn btn-primary">
            <u>S</u>impan
        </button>

    <?php endif ?>
</div>