<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="m-a-0"><?= $popupFormTitle ?></h4>
</div>

<div class="modal-body" style="<?= $popupHasFooter ? '' : 'padding-bottom: 20px;' ?>">
    <?= $this->popupFormMakePartial('body') ?>
</div>

<?php if ($popupHasFooter): ?>
    <div class="modal-footer" style="padding: 15px 20px 15px 20px;">
        <?= $this->popupFormMakePartial('footer') ?>
    </div>
<?php endif ?>
