<?php if ($this->previewMode): ?>

    <div class="form-control">
        <?= $value ?>
    </div>

<?php else: ?>

    <div class="monthselect-input-combo">
        <select
            name="<?= $name ?>[_month]"
            id="<?= $this->getId('month_select') ?>"
            class="month-select form-control"
        >
            <option value=""><?= $this->monthPlaceholder ?></option>
            <?php foreach($monthOpts as $m => $label): ?>
                <option <?= $m == $value['_month'] ? 'selected' : '' ?> value="<?= $m ?>"><?= $label ?></option>
            <?php endforeach ?>
        </select>
        <input
            type="number"
            id="<?= $this->getId('year_input') ?>"
            name="<?= $name ?>[_year]"
            value="<?= $value['_year'] ?>"
            class="year-input form-control"
            autocomplete="off"
        />
    </div>

<?php endif ?>
